.alert, .warning, .accept {margin:0 0 10px;padding:5px 10px;list-style-type:disc;font-size:1em;}
.alert {background:#ffd7d7;border:1px solid #f0acac;}
.warning {background:#fffed7;border:1px solid #eae891;}
.accept {background:#dfffd7;border:1px solid #a9e799;}
.alert li, .warning li, .accept li {margin-left:30px;padding:3px 0;line-height:0.8em;}
