/* 
	LEVEL ONE
*/
ul.dropdown   {position: relative; margin-left:35px;}
ul.dropdown li {font-weight: bold; color:#bcbcbc; font-size:83%; float: left; zoom: 1; 
			 background: url('../img/top_nav_bg.gif') 50% 50%; border-left: 1px solid #161616;
    border-right: 1px solid #4D4D4D;}
ul.dropdown li.first {border-left: 1px solid #4D4D4D;}			 
ul.dropdown a:hover           {color: #bcbcbc;}
ul.dropdown a:active       {color: #bcbcbc;}
ul.dropdown li a { display: block; padding: 5px 10px 7px 10px; border-right: 1px solid #333; color: #bcbcbc; text-decoration:none;}
ul.dropdown li:last-child a         {} /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover, ul.dropdown li.active   {background: url('../img/mn_back.gif') 50% 50%; position: relative; }
ul.dropdown li:hover a, ul.dropdown li.active a {color: #fff; }

/* 
	LEVEL TWO
*/
ul.dropdown ul {width: 220px; visibility: hidden; position: absolute; top: 100%; 
				left:0;}
ul.dropdown ul li {font-weight: normal; font-size:100%; background: #161616; 
				border-bottom: 1px solid #ccc; float: none;}
ul.dropdown ul li:hover {background:#161616;}
ul.dropdown ul li.hover a {color:#ccc;}
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a{border-right: none; width: 100%; display: inline-block;} 
/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }